# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# build folder
build/

# kdev projects
*.kdev4
.kdev_include_paths

# temp
*~

#other files
*.orig
*.user
# Executables
*.exe
*.out
*.app
